@model IEnumerable<MoonlightGarden.Framework.Domain.EquipBase>

<table class="table table-striped table-bordered table-hover table-condensed">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EquipType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Extend)
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                <img src="~/Content/ui/illust/@(item.Id).bmp" /><br />
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EquipType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Extend)
            </td>
        </tr>
    }
</table>