@model IEnumerable<MoonlightGarden.Framework.Domain.Monster>

<table class="table table-striped table-bordered table-hover table-condensed">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Size)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ArmorType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Class)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsBoss)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ZoneId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaxHP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Def)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Atk)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Target)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hits)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SkillId)
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @if (item.IsBoss)
                {
                    <img src="~/Content/ui/monster/@(item.Id).jpg" style="width: 90px; height: 90px;" />
                }
                else
                {
                    <img src="~//ui/monster/@(item.Id).gif" />
                }
                <br />
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Size)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArmorType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Class)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsBoss)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZoneId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxHP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DR)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Def)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AR)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Atk)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Target)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hits)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SkillId)
            </td>
        </tr>
    }
</table>
