@{
    ViewBag.ActiveLink = "Administration";
}

<ol class="breadcrumb">
    <li>Administration</li>
    <li>@Html.ActionLink("Master Data", "Index", "MasterData")</li>
    <li class="active">@ViewBag.Type</li>
</ol>

<ul class="nav nav-tabs nav-justified">
    @foreach (var item in ViewBag.MasterDataType)
    {
        <li @(item.ToString() == ViewBag.Type ? "class=active" : "")><a href="@item">@item</a></li>
    }
</ul>

<p>
    @Html.ActionLink("Import Data", "Import", new { id = ViewBag.Type })
</p>

@Html.Partial(String.Format("~/Views/MasterData/_{0}.cshtml", (string)ViewBag.Type), (object)Model)
