@model IEnumerable<MoonlightGarden.Framework.Domain.IssueTracking.Issue>

@{
    ViewBag.Title = ViewBag.Project.Name;
}

<p>
    @Html.ActionLink("Create an Issue", "Create", "Issue", new { id = ViewBag.Project.Id }, null)
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IssueType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ParentId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Id, "Details", "Dashboard", new { id = item.Id }, null)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IssueType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                
            </td>
        </tr>
    }
</table>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
